body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #222831, #00adb5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card {
    width: 350px;
    background: #EEEEEE;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}
.card-title{
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}
.subtitle {
    font-size: 16px;
    color: #393e46;
    margin-bottom: 15px;
}
.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: #EEEEEE;
    margin-bottom: 15px;
}
.tab {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    transition: 0.2s;
}
.tab:hover {
    color: #000;
    background-color: #e2e2e2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.tab.active {
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #393e46;
    background-color: #dddddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
input {
    width: 328px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
input:focus {
    border-color: #222831;
}
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease;
}

/* PRIMARY */
.primary {
    background-color: #00adb5;
    color: white;
}

.primary:hover {
    background-color: #0099a1;
}

.primary:active {
    background-color: #00888f;
    transform: scale(0.98);
}

/* SUCCESS */
.success {
    background-color: #52616b;
    color: white;
}

.success:hover {
    background-color: #47555e;
}

.success:active {
    background-color: #364147;
    transform: scale(0.98);
}

.tab-content {
    display: none;
    animation: fade 0.3s ease-in-out;
}
.tab-content.active {
    display: block;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}