body{
  font-family: Arial, sans-serif;
  background:#222831;
}
header{
  width:100%;
  height:80px;
  background:#393E46;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 40px;
  box-sizing:border-box;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}
.logo{
  text-decoration: none;
  font-size:30px;
  font-weight:bold;
  color: #00ADB5;
}
.nav-link{
  color: #00ADB5;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}
.nav-link:hover{
  text-decoration:underline;
  color:#EEEEEE;
}
.auth-area{
  display:flex;
  align-items:center;
  gap:10px;
}
.login-btn,
.register-btn{
  text-decoration:none;
  padding:8px 14px;
  border-radius:20px;
  font-weight:600;
  transition:0.3s;
}
.login-btn{
  background:#EEEEEE;
  color:#222831;
}
.login-btn:hover{
 background:#cccccc;
}
.register-btn{
  background: #00ADB5;
  color:#222831;
}
.profile-btn:hover,
.register-btn:hover{
  background: #0099a1;
}
.profile-btn{
  background: #00ADB5;
  padding:8px 16px;
  border-radius:20px;
  text-decoration:none;
  color:#EEEEEE;
}
.nav{
  display:flex;
  gap:20px;
}
main{
  margin-top: 80px;
}
.footer{
  background:#393E46;
    color: #ddd;
    margin-top: 50px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}
.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-right: 1px solid #cccccc;
}

.footer-section:last-child {
    border-right: none;
}
.footer-section h3 {
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.footer-section p {
  text-align: left;
    font-size: 14px;
    color: #bbb;
    line-height: 1.6;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 8px;
}
.footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section ul li a:hover {
    color: #fff;
    padding-left: 5px;
}
.footer-bottom {
    text-align: center;
    padding: 15px;
    background: #393E46;
    font-size: 14px;
    color: #aaa;
}